.weather-app-wrapper {
    max-width: 600px;
    margin: 30px 0 auto;
    
}

.weather-app {
    
    padding: 20px;
    border: 1px solid #adade1;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.overview{
    margin-bottom: 20px;
}

.weather-temp img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }
  
  .weather-temp strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  
  .weather-temp .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }

body{
    font-family:arial,sans-serif;
}
h1 {
    color: rgb(122, 131, 141);
    font-size:24px;
    font-weight:100;
    line-height: 28px;
    margin-bottom: 0;
   }

h3{
    color: slategray;
    display: block;
    font-family: arial,sans-serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    height: auto;
}

p {
    text-align: center;
    color: slategray;
    font-size: 13px;
    height: auto;
    font-family: arial,sans-serif;
 }

ul{
    margin: 0;
    padding: 0;
}

li{
    color: slategray;
    display: block;
    font-family: arial,sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 0;
}

li::first-letter{
    text-transform: capitalize;
}

.icon {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    height: 80px;
    width: 80px;
  }

.search-form {
    margin-bottom: 20px;
  }

  .weather-temp .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .weather-temp .active:hover {
    text-decoration: none;
  }

  .weather-forcast img{
    display: block;
    margin: auto;
    padding: 0;
    height: 48px;
    width: 48px;
  }

  .weather-forcast .row .col-2{
    border: rgb(33, 33, 33);
}
